<template>
  <md-card class="expander" :class="{shown: isShown}">
    <div class="visible" @click="isShown=!isShown">
      <p>
        <span>{{title}}</span>
        <md-icon v-if="isDone" class="checked md-accent">check_circle</md-icon>
      </p>
      <p>{{weight}} ({{hours}}H)</p>
      <md-icon class="chevron">arrow_downward</md-icon>
    </div>
    <div class="expandable">
      <slot></slot>
    </div>
  </md-card>
</template>

<script>
export default {
  name: 'expander',
  data: () => ({
    isShown: false
  }),
  props: {
    title: {
      type: String,
      default: ''
    },
    weight: {
      type: Number,
      default: 0
    },
    hours: {
      type: Number,
      default: 0
    },
    isDone: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss">
$SIZE: 2rem;

.expander {
  border-radius: $SIZE;
  padding: 1rem;
  // box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.8)
}

.expander .visible .chevron {
  font-size: $SIZE;
  transition: transform 0.2s ease;
}

.visible {
  display: grid;
  grid-template-columns: 1fr fit-content($SIZE * 10) $SIZE;
  align-items: center;
  cursor: pointer;

  p {
    font-size: $SIZE;
    user-select: none;
  }
}

.expandable {
  margin-left: $SIZE;
  height: 0;
  margin-top: 0;
  transition: width 0.2s ease, margin-top 0.2s ease;
  overflow: hidden;
}
.shown {
  .chevron {
    transform: rotate(180deg);
  }
  .expandable {
    margin-top: 1rem;
    height: 100%;
  }
}

.md-icon.md-theme-default.md-icon-font.checked.md-accent {
  color: #00c853;
}
</style>