<template>
  <div class="burndown-chart">
    <div class="content" v-if="subtasks && subtasks.length > 0">
      <chart-line
        class="line"
        title="Burndown Chart"
        :labels="labels"
        :values="values"
        :totalWeight="totalWeight"
        :avg="avg"
      ></chart-line>
      <p class="burndown-info good" v-if="isGood">{{ $t("burndown_chart.in_time") }}</p>
      <p class="burndown-info bad" v-else>{{ $t("burndown_chart.not_in_time") }}</p>
    </div>
    <div v-else class="no-content">
      <md-empty-state
        class="md-accent"
        md-icon="table_chart"
        :md-label="$t('burndown_chart.empty.title')"
        :md-description="$t('burndown_chart.empty.desc')"
      ></md-empty-state>
    </div>
  </div>
</template>

<script>
import ChartLine from '@/components/charts/BurndownChart';
import moment from 'moment';

export default {
  name: 'burndown-chart-view',
  components: { ChartLine },
  data: () => ({
    dates: [],
    values: [],
    dateStart: null,
    dateEnd: null,
    subtasks: []
  }),
  computed: {
    labels() {
      return this.dates.map(d => d.format('DD/MM'));
    },
    isGood() {
      return this.totalWeight - this.totalDays * this.avg <= 0;
    },
    totalWeight() {
      return this.subtasks.reduce((acc, t) => acc + t.weight, 0);
    },
    avg() {
      return this.values.length > 0
        ? (this.max - this.min) / this.values.length
        : 0;
    },
    min() {
      if (!this.values) {
        return 0;
      }
      return this.values.reduce(
        (acc, v) => (v < acc ? v : acc),
        this.values[0]
      );
    },
    max() {
      return this.values.reduce((acc, v) => (v > acc ? v : acc), 0);
    },
    totalDays() {
      if (!this.dateStart || !this.dateEnd) {
        return 0;
      }
      return Math.round(this.dateEnd.diff(this.dateStart, 'days', true));
    }
  },
  mounted() {
    let t = localStorage.getItem('tasks');
    const tasks = t ? JSON.parse(t) : [];
    this.subtasks = tasks.reduce((acc, task) => [...acc, ...task.subtasks], []);
    const start = localStorage.getItem('startDate');
    const end = localStorage.getItem('endDate');
    if (start && end) {
      this.dateStart = moment(start).startOf('day');
      this.dateEnd = moment(end).endOf('day');
      this.dates = [];
      for (let i = 0; i < this.totalDays; i++) {
        this.dates.push(
          moment(this.dateStart)
            .add(i, 'day')
            .endOf('day')
        );
      }
      this.values = [];
      const today = moment();
      for (let date of this.dates) {
        let value = this.totalWeight;
        this.subtasks.forEach(subtask => {
          if (
            subtask.checked &&
            subtask.checkedDate &&
            moment(subtask.checkedDate).isBefore(date)
          ) {
            value -= subtask.weight;
          }
        });
        this.values.push(value);
        if (today.isSame(date, 'day') || value === 0) {
          break;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.burndown-info {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;

  &.good {
    color: rgb(121, 248, 121);
  }
  &.bad {
    color: rgb(248, 121, 121);
  }
}
</style>