<template>
  <div id="wrapper">
    <div class="left">
      <img id="logo" src="~@/assets/logo.png" alt="electron-vue" />
      <button @click="updateValues()">Update</button>
      <main>
        <div class="top-side">
          <span class="title">Welcome to your new project!</span>
          <system-information></system-information>
        </div>

        <div class="bottom-side">
          <div class="doc">
            <div class="title">Getting Started</div>
            <p>
              electron-vue comes packed with detailed documentation that covers everything from
              internal configurations, using the project structure, building your application,
              and so much more.
            </p>
            <button
              @click="open('https://simulatedgreg.gitbooks.io/electron-vue/content/')"
            >Read the Docs</button>
            <br />
            <br />
          </div>
          <div class="doc">
            <div class="title alt">Other Documentation</div>
            <button class="alt" @click="open('https://electron.atom.io/docs/')">Electron</button>
            <button class="alt" @click="open('https://vuejs.org/v2/guide/')">Vue.js</button>
          </div>
        </div>
      </main>
    </div>
    <chart-bar class="bar" :labels="labels" :title="title" :values="values"></chart-bar>
    <chart-doughnut class="pie" :labels="labels" :title="title" :values="values"></chart-doughnut>
  </div>
</template>

<script>
import SystemInformation from '@/components/LandingPage/SystemInformation';
import ChartBar from '@/components/charts/ChartBar';
import ChartDoughnut from '@/components/charts/ChartDoughnut';

export default {
  name: 'landing-page',
  components: { SystemInformation, ChartBar, ChartDoughnut },
  data() {
    return {
      labels: ['test1', 'test2', 'test3', 'test4'],
      title: 'pouet',
      values: null
    };
  },
  mounted() {
    this.updateValues();
    this.title = 'test';
  },
  methods: {
    updateValues() {
      this.values = [
        this.getRandomInt(),
        this.getRandomInt(),
        this.getRandomInt(),
        this.getRandomInt()
      ];
    },
    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    },
    open(link) {
      this.$electron.shell.openExternal(link);
    }
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  background: radial-gradient(
    ellipse at top left,
    rgba(255, 255, 255, 1) 40%,
    rgba(229, 229, 229, 0.9) 100%
  );
  height: 100%;
  padding: 60px 80px;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr minmax(250px, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.left {
  grid-row: 1 / 3;
}

#logo {
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main > div {
  flex-basis: 50%;
}

.top-side {
  display: flex;
  flex-direction: column;
}

.welcome {
  color: #555;
  font-size: 23px;
  margin-bottom: 10px;
}

.title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc p {
  color: black;
  margin-bottom: 10px;
}

.doc button {
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}

.doc button.alt {
  color: #42b983;
  background-color: transparent;
}
</style>
