<template>
  <div>
    <div class="planning-board-view" v-if="tasks && tasks.length > 0 && startDate && endDate">
      <div class="top">
        <md-tabs md-sync-route>
          <md-tab
            id="tab-home"
            :md-label="$t('planning_board.tabs.planning')"
            to="/planning-board"
            exact
          ></md-tab>
          <md-tab
            id="tab-pages"
            :md-label="$t('planning_board.tabs.result')"
            to="/planning-board-result"
          ></md-tab>
        </md-tabs>
        <chart-bar-stacked
          class="bar"
          :title="$t('planning_board.result.title')"
          :title2="$t('planning_board.result.title2')"
          :labels="labels"
          :values="hoursDone"
          :values2="hoursTotal"
        ></chart-bar-stacked>
      </div>
    </div>
    <div v-else class="no-content">
      <md-empty-state
        class="md-accent"
        md-icon="table_chart"
        :md-label="$t(`planning_board.empty.title_no_${!tasks || tasks.length == 0 ? 'subtask' : !startDate ? 'start_date' : 'end_date'}`)"
        :md-description="$t('planning_board.empty.desc')"
      ></md-empty-state>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import ChartBarStacked from '@/components/charts/ChartBarStacked';

export default {
  name: 'planning-board-result-view',
  components: { ChartBarStacked },
  data: () => ({
    startDate: null,
    endDate: null,
    tasks: null,
    hoursPerDays: 1,
    hoursSubtasks: []
  }),
  computed: {
    labels() {
      return this.hoursSubtasks.map(h => h.name);
    },
    hoursTotal() {
      return this.hoursSubtasks.map(h => h.total);
    },
    hoursDone() {
      return this.hoursSubtasks.map(h => h.hour);
    },
    totalDays() {
      if (!this.endDate || !this.startDate) {
        return 1;
      }
      return Math.round(
        moment(this.endDate)
          .endOf('day')
          .diff(moment(this.startDate).startOf('day'), 'days', true)
      );
    },
    totalHours() {
      return this.totalDays * this.hoursPerDays;
    },
    totalWeight() {
      return this.tasks.reduce(
        (acc, task) => acc + this.getTaskTotalWeight(task),
        0
      );
    }
  },
  mounted() {
    this.hoursPerDays = localStorage.getItem('hoursPerDays');
    if (!this.hoursPerDays) {
      this.hoursPerDays = 1;
    }
    let t = localStorage.getItem('tasks');
    this.tasks = t ? JSON.parse(t) : [];
    const start = localStorage.getItem('startDate');
    const end = localStorage.getItem('endDate');
    if (start && end) {
      this.startDate = moment(start).startOf('day');
      this.endDate = moment(end).endOf('day');

      let dayTask = moment(this.startDate);
      let subtaskHours = {};
      while (dayTask.isSameOrBefore(this.endDate, 'day')) {
        console.log(dayTask.format('DD/MM/YYYY'));
        let day = localStorage.getItem(
          'choosenSubtasks-' + dayTask.format('DD/MM/YYYY')
        );
        if (day) {
          day = JSON.parse(day);
          console.log('day', day);
          day.forEach(hour => {
            if (hour) {
              if (subtaskHours[hour]) {
                subtaskHours[hour]++;
              } else {
                subtaskHours[hour] = 1;
              }
            }
          });
        }
        dayTask = dayTask.add(1, 'day');
      }
      console.log(subtaskHours);
      this.tasks.forEach(task =>
        task.subtasks.forEach(subtask => {
          if (!subtask.checked) {
            this.hoursSubtasks.push({
              name: subtask.name,
              total: this.getNbOH(subtask.weight),
              hour: subtaskHours[subtask.name]
            });
          }
        })
      );
    }
  },
  methods: {
    getNbOH(weight, round = false) {
      return Math.round(
        this.totalWeight === 0
          ? 0
          : (weight / this.totalWeight) * this.totalHours
      );
    },
    getTaskTotalWeight(task) {
      return task.subtasks.reduce((acc, t) => acc + t.weight, 0);
    }
  }
};
</script>

<style lang="scss">
$CLEAR_SIZE: 16px;

.planning-board-view {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: fit-content(50%) 1fr;
  overflow: hidden;
}

.planner-buttons {
  display: flex;
  align-items: center;
}

.md-app-content .planner-container.md-card {
  margin: 0;
}

.planner {
  display: grid;
  position: relative;
  grid-template-columns: 1fr repeat(7, 2fr);
  grid-template-rows: fit-content(10rem) 1fr;
  grid-auto-flow: column;
  width: 100%;
  &.previous {
    animation: switch-week-previous 0.5s ease 0s;
  }
  &.next {
    animation: switch-week-next 0.5s ease 0s;
  }

  > div {
    width: 100%;
    &.planner-header {
      border-bottom: 1px solid #333;
      p {
        width: fit-content;
        margin: auto;
        &.day {
          font-weight: bold;
        }
      }
    }
    &.today {
      background-color: rgb(165, 195, 241);
    }
  }
  > :nth-child(4n),
  > :nth-child(4n-1) {
    background-color: darken(white, 5%);
  }

  > .disabled {
    background-color: lighten(rgba(51, 51, 51, 0.5), 25%);
    color: white;
    &:nth-child(4n),
    &:nth-child(4n-1) {
      background-color: rgba(51, 51, 51, 0.5);
    }
  }
  .planner-content {
    .content {
      height: 100%;
    }
    .hour {
      height: 5rem;
      border-bottom: 1px solid darken(white, 50%);
      margin-top: 1rem;

      > p {
        text-align: right;
        margin-right: 1rem;
      }

      .subtask {
        height: 95%;
        width: 95%;
        margin: auto;
        border-radius: 1rem;
        display: grid;
        // margin-top: 1rem;
        overflow: hidden;
        cursor: pointer;
        > * {
          width: fit-content;
          margin: auto;
        }
        p {
          top: -20%;
          position: relative;
        }

        .delete {
          top: -4%;
          left: 33%;
          width: $CLEAR_SIZE;

          i {
            width: $CLEAR_SIZE;
            min-width: $CLEAR_SIZE;
            height: $CLEAR_SIZE;
            font-size: $CLEAR_SIZE !important;
          }
        }
      }
    }
    .hour-subtask {
      border-bottom: 1px solid darken(white, 50%);
    }
  }
}

@keyframes switch-week-previous {
  0% {
    left: 0vw;
  }
  48% {
    left: 100vw;
  }
  49% {
    top: 100vh;
  }
  50% {
    left: -100vw;
  }
  51% {
    top: 0vh;
  }
  100% {
    left: 0vw;
  }
}

@keyframes switch-week-next {
  0% {
    left: 0vw;
  }
  48% {
    left: -100vw;
  }
  49% {
    top: 100vh;
  }
  50% {
    left: 100vw;
  }
  51% {
    top: 0vh;
  }
  100% {
    left: 0vw;
  }
}
</style>