<template>
  <div>
    <div class="planning-board-view" v-if="tasks && tasks.length > 0 && startDate && endDate">
      <div class="top">
        <md-tabs md-sync-route>
          <md-tab id="tab-home" md-label="Planning" to="/planning-board" exact></md-tab>
          <md-tab id="tab-pages" md-label="Task review" to="/planning-board-result"></md-tab>
        </md-tabs>
        <div class="planner-buttons">
          <md-button @click="previousWeek()" class="md-icon-button md-dense md-raised">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
          <md-button @click="nextWeek()" class="md-icon-button md-dense md-raised">
            <md-icon>keyboard_arrow_right</md-icon>
          </md-button>
          <md-button @click="todayWeek()" class="md-raised md-dense md-primary">Today</md-button>
          <md-datepicker v-model="datePicker" md-immediately :md-disabled-dates="disabledDates" />
        </div>
      </div>
      <md-card class="planner-container">
        <div
          class="planner"
          :class="{
      'previous': animation === -1,
      'next': animation === 1
    }"
        >
          <div class="planner-header">
            <p>Day</p>
          </div>
          <div class="planner-content">
            <div class="content">
              <div v-for="(n,indexHour) in 25" :key="'hour-' + indexHour" class="hour">
                <p :id="'hour-' + indexHour">{{indexHour}}h</p>
              </div>
            </div>
          </div>
          <template v-for="(day, index) in 7" class="test">
            <div
              :key="'day-'+ index"
              class="planner-header"
              :class="{'today': isToday(index), 'disabled': isDateOutOfMilestone(index)}"
            >
              <p class="day">{{dayOf(index).format('dddd')}}</p>
              <p>{{dayOf(index).format('DD/MM')}}</p>
            </div>
            <div
              :key="index"
              class="planner-content"
              :class="{'today': isToday(index), 'disabled': isDateOutOfMilestone(index)}"
            >
              <div class="content" v-if="!isDateOutOfMilestone(index)">
                <div
                  v-for="(n,indexHour) in 24"
                  :key="index + '-hour-' +indexHour"
                  class="hour hour-subtask"
                >
                  <div
                    class="subtask"
                    :style="{
                      'border': '3px solid ' + getBackgroundColor(choosenSubtasks[index][indexHour]),
                  }"
                    @click="openDialog(index, indexHour)"
                  >
                    <md-button
                      v-if="choosenSubtasks[index][indexHour] !== null"
                      class="md-icon-button md-dense md-raised md-accent delete"
                      v-on:click.stop="removeSubtask(index, indexHour)"
                    >
                      <md-icon>clear</md-icon>
                    </md-button>
                    <p>{{choosenSubtasks[index][indexHour]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </md-card>
    </div>
    <div v-else class="no-content">
      <md-empty-state
        class="md-accent"
        md-icon="table_chart"
        :md-label="$t(`planning_board.empty.title_no_${!tasks || tasks.length == 0 ? 'subtask' : !startDate ? 'start_date' : 'end_date'}`)"
        :md-description="$t('planning_board.empty.desc')"
      ></md-empty-state>
    </div>
    <choose-subtask-dialog
      :tasks="tasks"
      :shown="showChooseSubtaskDialog"
      @choosen="chooseSubtask"
      @cancel="cancelChooseSubtask"
    ></choose-subtask-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import ChooseSubtaskDialog from '../components/dialogs/ChooseSubtaskDialog';
import Color from '../utils/Color';

export default {
  name: 'planning-board-view',
  components: { ChooseSubtaskDialog },
  data: () => ({
    startDate: null,
    endDate: null,
    tasks: null,
    firstDayOfWeek: null,
    animation: 0,
    datePicker: null,
    choosenSubtasks: [],
    showChooseSubtaskDialog: false,
    choosenSubtasksPosition: {
      index: 0,
      indexHours: 0
    },
    colorsSubTasks: new Map()
  }),
  computed: {
    disabledDates: function() {
      return date => this.isDateOutOfMilestone(date);
    }
  },
  mounted() {
    let t = localStorage.getItem('tasks');
    this.tasks = t ? JSON.parse(t) : [];
    const start = localStorage.getItem('startDate');
    const end = localStorage.getItem('endDate');
    if (start && end) {
      this.startDate = moment(start).startOf('day');
      this.endDate = moment(end).endOf('day');
      this.updateFirstDayOfWeek();
    }
    setTimeout(() => {
      let hour = moment().format('H') - 4;
      let elmnt = this.$el.querySelector('#hour-' + (hour < 0 ? 0 : hour));
      let container = document.querySelector('.md-app-scroller');
      container.scrollTop = elmnt.offsetTop;
    }, 500);
  },
  methods: {
    initChoosenTask() {
      let choosenToAdd = [];
      for (let i = 0; i < 7; i++) {
        let day = localStorage.getItem(
          'choosenSubtasks-' + this.dayOf(i).format('DD/MM/YYYY')
        );
        if (day) {
          choosenToAdd.push(JSON.parse(day));
        } else {
          let a = [];
          for (let j = 0; j < 24; j++) {
            a.push(null);
          }
          choosenToAdd.push(a);
        }
      }
      this.choosenSubtasks = choosenToAdd;
    },
    isToday(index) {
      return moment().isSame(this.dayOf(index), 'day');
    },
    dayOf(index) {
      return moment(this.firstDayOfWeek).add(index, 'days');
    },
    updateFirstDayOfWeek(date) {
      this.firstDayOfWeek = moment(date).startOf('week');
      this.initChoosenTask();
    },
    nextWeek() {
      this.animateNewWeek(true, () =>
        this.updateFirstDayOfWeek(this.firstDayOfWeek.add(7, 'days'))
      );
    },
    previousWeek() {
      this.animateNewWeek(false, () =>
        this.updateFirstDayOfWeek(this.firstDayOfWeek.subtract(7, 'days'))
      );
    },
    todayWeek() {
      let now = moment();
      if (!now.isSame(this.firstDayOfWeek, 'week')) {
        this.animateNewWeek(now.isAfter(this.firstDayOfWeek), () =>
          this.updateFirstDayOfWeek(now)
        );
      }
    },
    animateNewWeek(next, callable) {
      this.animation = 0;
      setTimeout(() => {
        this.animation = next ? 1 : -1;
      }, 100);
      setTimeout(() => {
        callable();
      }, 500);
    },
    isDateOutOfMilestone(date) {
      if (!this.endDate || !this.startDate) {
        return false;
      }
      if (typeof date === 'number') {
        date = this.dayOf(date);
      }
      const mDate = moment(date);
      const mEnd = moment(this.endDate).endOf('day');
      const mStart = moment(this.startDate).startOf('day');
      return mDate.isBefore(mStart) || mDate.isAfter(mEnd);
    },
    openDialog(index, indexHours) {
      this.choosenSubtasksPosition.index = index;
      this.choosenSubtasksPosition.indexHours = indexHours;
      this.showChooseSubtaskDialog = true;
    },
    chooseSubtask(name) {
      this.showChooseSubtaskDialog = false;
      let i = this.choosenSubtasksPosition.index;
      let h = this.choosenSubtasksPosition.indexHours;
      this.choosenSubtasks[i][h] = name;
      this.updateChoosenSubtasks();
    },
    cancelChooseSubtask() {
      this.showChooseSubtaskDialog = false;
    },
    getBackgroundColor(name) {
      if (name === null) {
        return 'transparent';
      }
      let rightColor = this.colorsSubTasks.get(name);
      if (!rightColor) {
        rightColor = new Color(
          Math.round(Math.random() * 255),
          Math.round(Math.random() * 255),
          Math.round(Math.random() * 255)
        );
        this.colorsSubTasks.set(name, rightColor);
      }
      return rightColor.toString();
    },
    removeSubtask(index, indexHour) {
      this.choosenSubtasks[index][indexHour] = null;
      this.updateChoosenSubtasks();
    },
    updateChoosenSubtasks() {
      this.choosenSubtasks = [...this.choosenSubtasks];
      this.choosenSubtasks.forEach((day, indexDay) => {
        localStorage.setItem(
          'choosenSubtasks-' + this.dayOf(indexDay).format('DD/MM/YYYY'),
          JSON.stringify(day)
        );
      });
    }
  },
  watch: {
    datePicker(after, before) {
      let choosen = moment(after);
      if (!choosen.isSame(this.firstDayOfWeek, 'week')) {
        this.animateNewWeek(choosen.isAfter(this.firstDayOfWeek), () =>
          this.updateFirstDayOfWeek(choosen)
        );
      }
    }
  }
};
</script>

<style lang="scss">
$CLEAR_SIZE: 16px;

.planning-board-view {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: fit-content(50%) 1fr;
  overflow: hidden;
}

.planner-buttons {
  display: flex;
  align-items: center;
}

.md-app-content .planner-container.md-card {
  margin: 0;
}

.planner {
  display: grid;
  position: relative;
  grid-template-columns: 1fr repeat(7, 2fr);
  grid-template-rows: fit-content(10rem) 1fr;
  grid-auto-flow: column;
  width: 100%;
  &.previous {
    animation: switch-week-previous 0.5s ease 0s;
  }
  &.next {
    animation: switch-week-next 0.5s ease 0s;
  }

  > div {
    width: 100%;
    &.planner-header {
      border-bottom: 1px solid #333;
      p {
        width: fit-content;
        margin: auto;
        &.day {
          font-weight: bold;
        }
      }
    }
    &.today {
      background-color: rgb(165, 195, 241);
    }
  }
  > :nth-child(4n),
  > :nth-child(4n-1) {
    background-color: darken(white, 5%);
  }

  > .disabled {
    background-color: lighten(rgba(51, 51, 51, 0.5), 25%);
    color: white;
    &:nth-child(4n),
    &:nth-child(4n-1) {
      background-color: rgba(51, 51, 51, 0.5);
    }
  }
  .planner-content {
    .content {
      height: 100%;
    }
    .hour {
      height: 5rem;
      border-bottom: 1px solid darken(white, 50%);
      margin-top: 1rem;

      > p {
        text-align: right;
        margin-right: 1rem;
      }

      .subtask {
        height: 95%;
        width: 95%;
        margin: auto;
        border-radius: 1rem;
        display: grid;
        // margin-top: 1rem;
        overflow: hidden;
        cursor: pointer;
        > * {
          width: fit-content;
          margin: auto;
        }
        p {
          top: -20%;
          position: relative;
        }

        .delete {
          top: -4%;
          left: 33%;
          width: $CLEAR_SIZE;

          i {
            width: $CLEAR_SIZE;
            min-width: $CLEAR_SIZE;
            height: $CLEAR_SIZE;
            font-size: $CLEAR_SIZE !important;
          }
        }
      }
    }
    .hour-subtask {
      border-bottom: 1px solid darken(white, 50%);
    }
  }
}

@keyframes switch-week-previous {
  0% {
    left: 0vw;
  }
  48% {
    left: 100vw;
  }
  49% {
    top: 100vh;
  }
  50% {
    left: -100vw;
  }
  51% {
    top: 0vh;
  }
  100% {
    left: 0vw;
  }
}

@keyframes switch-week-next {
  0% {
    left: 0vw;
  }
  48% {
    left: -100vw;
  }
  49% {
    top: 100vh;
  }
  50% {
    left: 100vw;
  }
  51% {
    top: 0vh;
  }
  100% {
    left: 0vw;
  }
}
</style>