<template>
  <div>
    <div id="time-management">
      <div class="left">
        <div class="date-picker">
          <p>{{ $t("time_management.from") }}</p>
          <p>{{ $t("time_management.to") }}</p>
          <span></span>
          <md-datepicker
            v-model="startDate"
            md-immediately
            :md-disabled-dates="disabledStartingDates"
          />
          <md-datepicker v-model="endDate" md-immediately :md-disabled-dates="disabledEndingDates" />
          <div></div>
          <md-field class="hours-per-days">
            <label>{{ $t("time_management.number_per_hours") }}</label>
            <md-input v-model="hoursPerDays" type="number"></md-input>
          </md-field>
          <p>{{ $t("time_management.number_of_hours") }} {{totalHours}}</p>
        </div>
        <div class="add-task-container">
          <p>{{ $t("time_management.total_days") }} {{totalDays}}</p>
          <div></div>
          <md-button
            class="md-raised md-primary"
            @click="showCreateTask()"
          >{{ $t("time_management.add_task") }}</md-button>
        </div>

        <expander
          v-for="(task, index) in tasks"
          :key="index"
          :title="task.name"
          :weight="getTaskTotalWeight(task)"
          :hours="getTaskTotalHours(task)"
          :isDone="isTaskDone(task)"
        >
          <md-table v-model="task.subtasks">
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell
                :md-label="$t('time_management.name')"
                md-sort-by="name"
              >{{ item.name }}</md-table-cell>
              <md-table-cell
                :md-label="$t('time_management.weight')"
                md-sort-by="weight"
                md-numeric
              >
                <md-field md-inline>
                  <label>{{$t('time_management.name')}}</label>
                  <md-input v-model.number="item.weight" type="number"></md-input>
                </md-field>
              </md-table-cell>
              <md-table-cell
                :md-label="$t('time_management.length')"
                md-numeric
              >{{ getNumberOfHours(item) }}</md-table-cell>
              <md-table-cell :md-label="$t('time_management.delete')">
                <md-button
                  @click="showDeleteSubTask(index, item)"
                  class="md-icon-button md-raised md-accent"
                >
                  <md-icon>delete</md-icon>
                </md-button>
              </md-table-cell>
              <md-table-cell :md-label="$t('time_management.done')">
                <md-button
                  @click="toggleCheckSubtask(item)"
                  class="md-icon-button md-raised"
                  :class="{'task-checked': isTaskChecked(item), 'md-accent': isTaskChecked(item)}"
                >
                  <md-icon>check_circle{{isTaskChecked(item)? '': '_outline'}}</md-icon>
                </md-button>
              </md-table-cell>
            </md-table-row>
          </md-table>
          <div class="subtask-actions">
            <div></div>
            <md-button
              class="md-raised md-accent"
              @click="showDeleteTask(index)"
            >{{ $t("time_management.delete_task") }}</md-button>
            <md-button
              class="md-raised md-primary"
              @click="showSubtaskDialog(task)"
            >{{ $t("time_management.add_subtask") }}</md-button>
          </div>
        </expander>
        <div class="stats">
          <p class="total-weight">
            {{ $t("time_management.total_weight") }}
            <span>{{totalWeight}}</span>
          </p>
        </div>
      </div>
      <chart-bar
        class="bar"
        :title="$t('time_management.charts.bar_title')"
        :labels="hoursSubTasks.labels"
        :values="hoursSubTasks.weights"
      ></chart-bar>
      <chart-doughnut
        class="pie"
        :title="$t('time_management.charts.pie_title')"
        :labels="tasksStats.labels"
        :values="tasksStats.weights"
      ></chart-doughnut>
    </div>

    <md-dialog :md-active.sync="showDialogCreateTask">
      <md-dialog-title>{{ $t("time_management.dialog.create_task.new_task") }}</md-dialog-title>
      <div class="dialog">
        <md-field :class="{'md-invalid': taskNameError}">
          <label>{{ $t("time_management.dialog.create_task.task_name") }}</label>
          <md-input v-model="taskName" required></md-input>
          <span class="md-error">{{ $t("time_management.dialog.create_task.task_name_error") }}</span>
        </md-field>
      </div>

      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="showDialogCreateTask = false"
        >{{ $t("time_management.dialog.buttons.cancel") }}</md-button>
        <md-button
          class="md-primary"
          @click="createTask()"
        >{{ $t("time_management.dialog.buttons.save") }}</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog :md-active.sync="showDialogCreateSubTask">
      <md-dialog-title>{{ $t("time_management.dialog.create_subtask.new_subtask") }}{{selectedTask? ` ${$t("time_management.dialog.create_subtask.for")} "${selectedTask.name}"` : ''}}</md-dialog-title>
      <div class="dialog">
        <md-field :class="{'md-invalid': taskNameError}">
          <label>{{ $t("time_management.dialog.create_subtask.subtask_name") }}</label>
          <md-input v-model="taskName" required></md-input>
          <span
            class="md-error"
          >{{ $t("time_management.dialog.create_subtask.subtask_name_error") }}</span>
        </md-field>
        <md-field :class="{'md-invalid': taskWeightError}">
          <label>{{ $t("time_management.dialog.create_subtask.subtask_weight") }}</label>
          <md-input v-model="taskWeight" type="number" required></md-input>
          <span
            class="md-error"
          >{{ $t("time_management.dialog.create_subtask.subtask_name_error") }}</span>
        </md-field>
      </div>

      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="showDialogCreateSubTask = false"
        >{{ $t("time_management.dialog.buttons.cancel") }}</md-button>
        <md-button
          class="md-primary"
          @click="createSubTask()"
        >{{ $t("time_management.dialog.buttons.save") }}</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog :md-active.sync="showDialogDeleteTask">
      <md-dialog-title>{{ $t("time_management.dialog.delete_task") }}</md-dialog-title>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="showDialogDeleteTask = false"
        >{{ $t("time_management.dialog.buttons.cancel") }}</md-button>
        <md-button
          class="md-primary"
          @click="deleteTask()"
        >{{ $t("time_management.dialog.buttons.delete") }}</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog :md-active.sync="showDialogDeleteSubTask">
      <md-dialog-title>{{ $t("time_management.dialog.delete_subtask") }}</md-dialog-title>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="showDialogDeleteSubTask = false"
        >{{ $t("time_management.dialog.buttons.cancel") }}</md-button>
        <md-button
          class="md-primary"
          @click="deleteSubTask()"
        >{{ $t("time_management.dialog.buttons.delete") }}</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
import ChartBar from '@/components/charts/ChartBar';
import ChartDoughnut from '@/components/charts/ChartDoughnut';
import Expander from '@/components/Expander';
import moment from 'moment';

export default {
  name: 'landing-page',
  components: { ChartBar, ChartDoughnut, Expander },
  data: () => ({
    showDialogCreateTask: false,
    showDialogDeleteTask: false,
    showDialogCreateSubTask: false,
    showDialogDeleteSubTask: false,
    labels: ['test1', 'test2', 'test3', 'test4'],
    values: null,
    tasks: [],
    startDate: null,
    endDate: null,
    hoursPerDays: 1,
    taskName: '',
    taskNameError: false,
    taskWeight: 0,
    taskWeightError: false,
    selectedTask: null,
    indexToDelete: 0,
    subTaskToDelete: {}
  }),
  computed: {
    disabledStartingDates: function() {
      return date => {
        if (!this.endDate) {
          return false;
        }
        const mDate = moment(date).startOf('day');
        const mEnd = moment(this.endDate).endOf('day');
        return mEnd.isBefore(mDate);
      };
    },
    disabledEndingDates: function() {
      return date => {
        if (!this.startDate) {
          return false;
        }
        const mDate = moment(date).endOf('day');
        const mStart = moment(this.startDate).startOf('day');
        return mStart.isAfter(mDate);
      };
    },
    tasksStats() {
      let t = this.tasks.map(task => ({
        name: task.name,
        weight: this.getTaskTotalWeight(task)
      }));
      return {
        labels: t.map(t => t.name),
        weights: t.map(t => t.weight)
      };
    },
    totalDays() {
      if (!this.endDate || !this.startDate) {
        return 1;
      }
      return Math.round(
        moment(this.endDate)
          .endOf('day')
          .diff(moment(this.startDate).startOf('day'), 'days', true)
      );
    },
    totalHours() {
      return this.totalDays * this.hoursPerDays;
    },
    totalWeight() {
      return this.tasks.reduce(
        (acc, task) => acc + this.getTaskTotalWeight(task),
        0
      );
    },
    hoursSubTasks() {
      let subtasks = this.tasks.reduce(
        (acc, task) => [...acc, ...task.subtasks],
        []
      );
      return {
        labels: subtasks.map(t => t.name),
        weights: subtasks.map(t => this.getNumberOfHours(t))
      };
    }
  },
  mounted() {
    this.updateValues();
    let t = localStorage.getItem('tasks');
    this.tasks = t ? JSON.parse(t) : [];
    this.hoursPerDays = localStorage.getItem('hoursPerDays');
    if (!this.hoursPerDays) {
      this.hoursPerDays = 1;
    }
    let sd = localStorage.getItem('startDate');
    this.startDate = sd ? new Date(sd) : new Date();
    let ed = localStorage.getItem('endDate');
    this.endDate = ed ? new Date(ed) : new Date();
  },
  methods: {
    updateValues() {
      this.values = [
        this.getRandomInt(),
        this.getRandomInt(),
        this.getRandomInt(),
        this.getRandomInt()
      ];
    },
    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    },
    getTaskTotalWeight(task) {
      return task.subtasks.reduce((acc, t) => acc + t.weight, 0);
    },
    getTaskTotalHours(task) {
      return this.getNbOH(this.getTaskTotalWeight(task));
    },
    getNumberOfHours(task) {
      return this.getNbOH(task.weight, true);
    },
    getNbOH(weight, round = false) {
      let h =
        this.totalWeight === 0
          ? 0
          : (weight / this.totalWeight) * this.totalHours;
      return round ? Math.round(h * 10) / 10 : Math.round(h);
    },
    showCreateTask() {
      this.taskName = '';
      this.taskNameError = false;
      this.showDialogCreateTask = true;
    },
    createTask() {
      if (!this.taskName) {
        this.taskNameError = true;
      } else {
        this.tasks.push({
          name: this.taskName,
          subtasks: []
        });
        this.showDialogCreateTask = false;
      }
    },
    showSubtaskDialog(task) {
      this.selectedTask = task;
      this.taskName = '';
      this.taskNameError = false;
      this.taskWeight = 0;
      this.taskWeightError = false;
      this.showDialogCreateSubTask = true;
    },
    createSubTask() {
      let err = false;
      if (!this.taskName) {
        this.taskNameError = true;
        err = true;
      }
      if (!this.taskWeight && this.taskWeight !== 0) {
        this.taskWeightError = true;
        err = true;
      }
      if (!err) {
        this.selectedTask.subtasks.push({
          name: this.taskName,
          weight: Number(this.taskWeight)
        });
        this.showDialogCreateSubTask = false;
      }
    },
    showDeleteTask(index) {
      this.indexToDelete = index;
      this.showDialogDeleteTask = true;
    },
    deleteTask() {
      this.tasks = this.tasks.filter((t, i) => i !== this.indexToDelete);
      this.showDialogDeleteTask = false;
    },
    showDeleteSubTask(index, subTask) {
      this.indexToDelete = index;
      this.subTaskToDelete = subTask;
      this.showDialogDeleteSubTask = true;
    },
    deleteSubTask() {
      let task = this.tasks.find((t, i) => i === this.indexToDelete);
      task.subtasks = task.subtasks.filter(
        t =>
          t.name !== this.subTaskToDelete.name ||
          t.weight !== this.subTaskToDelete.weight
      );
      this.showDialogDeleteSubTask = false;
    },
    isTaskChecked(subtask) {
      return !!subtask.checked;
    },
    toggleCheckSubtask(subtask) {
      subtask.checked = !subtask.checked;
      if (subtask.checked) {
        subtask.checkedDate = new Date();
      }
      this.tasks = [...this.tasks];
    },
    isTaskDone(task) {
      if (task.subtasks && task.subtasks.length > 0) {
        return task.subtasks.reduce((acc, s) => acc && !!s.checked, true);
      } else {
        return false;
      }
    }
  },
  watch: {
    startDate(newValue, oldValue) {
      if (newValue) {
        localStorage.setItem('startDate', newValue);
      }
    },
    endDate(newValue, oldValue) {
      if (newValue) {
        localStorage.setItem('endDate', newValue);
      }
    },
    hoursPerDays(newValue, oldValue) {
      localStorage.setItem('hoursPerDays', newValue);
    },
    taskName(newValue, oldValue) {
      if (!newValue) {
        this.taskNameError = true;
      } else {
        this.taskNameError = false;
      }
    },
    taskWeight(newValue, oldValue) {
      if (!newValue && newValue !== 0) {
        this.taskWeightError = true;
      } else {
        this.taskWeightError = false;
      }
    },
    tasks: {
      deep: true,
      handler(newValue, oldValue) {
        localStorage.setItem('tasks', JSON.stringify(newValue));
      }
    }
  }
};
</script>

<style lang="scss">
#time-management {
  height: 100%;
  max-height: calc(100vh - 100px);
  width: 100%;
  // padding: 2%;
  display: grid;
  grid-template-columns: 2fr minmax(250px, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.date-picker {
  display: grid;
  grid-template-columns: repeat(2, fit-content(20rem)) 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.left {
  grid-row: 1 / 3;
  overflow-y: auto;
}

.bar,
.pie {
  height: 100%;
}

.total-weight {
  width: 100%;
  text-align: right;
  font-size: 1rem;
  padding: 0.5rem;

  span {
    font-weight: bold;
  }
}

.dialog {
  margin: 1rem;
}

.subtask-actions {
  display: grid;
  grid-template-columns: 1fr repeat(2, fit-content(20rem));
}

.md-button.md-theme-default.md-raised:not([disabled]).task-checked.md-accent {
  background-color: #00c853;
}

.add-task-container {
  display: grid;
  grid-template-columns: fit-content(20rem) 1fr fit-content(20rem);
  align-items: center;
}
</style>
