<template>
  <md-dialog
    :md-close-on-esc="false"
    :md-click-outside-to-close="false"
    class="choose-subtask"
    :md-active.sync="shown"
  >
    <md-dialog-title>{{ $t("planning_board.dialog.title") }}</md-dialog-title>
    <div class="dialog">
      <p @click="chooseSubtask(null)">{{ $t("planning_board.dialog.clear") }}</p>
      <div class="task-group" v-for="task in tasks" :key="task.name" :label="task.name">
        <h3>{{task.name}}</h3>
        <div v-for="subtask in task.subtasks" :key="subtask.name">
          <p v-if="!subtask.checked" @click="chooseSubtask(subtask.name)">{{subtask.name}}</p>
        </div>
      </div>
    </div>
  </md-dialog>
</template>

<script>
export default {
  name: 'choose-subtask-dialog',
  data: () => ({}),
  props: {
    tasks: {
      type: Array,
      default: []
    },
    shown: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    chooseSubtask(name) {
      this.$emit('choosen', name);
    }
  }
};
</script>

<style lang="scss">
.choose-subtask {
  .md-dialog-container {
    max-height: 50vh;
    overflow: auto;
  }
  p {
    cursor: pointer;
    margin-left: 1rem;
  }
}
</style>