<template>
  <div id="app">
    <md-app md-waterfall md-mode="fixed">
      <md-app-toolbar class="md-primary">
        <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">{{ $t("app.title") }}</span>
      </md-app-toolbar>

      <md-app-drawer md-persistent="mini" :md-active.sync="menuVisible">
        <md-toolbar class="md-transparent" md-elevation="0">{{ $t("app.navigation") }}</md-toolbar>

        <md-list>
          <md-list-item to="/">
            <md-icon>table_chart</md-icon>
            <span class="md-list-item-text">{{ $t("app.manage_time") }}</span>
          </md-list-item>

          <md-list-item to="/burndown-chart">
            <md-icon>show_chart</md-icon>
            <span class="md-list-item-text">{{ $t("app.burndown_chart") }}</span>
          </md-list-item>

          <md-list-item to="/planning-board">
            <md-icon>today</md-icon>
            <span class="md-list-item-text">{{ $t("app.planning_board") }}</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
export default {
  name: 'time-management',
  data: () => ({
    menuVisible: false
  }),
  mounted() {
    this.$material.locale.dateFormat = 'dd/MM/yyyy';
  }
};
</script>

<style lang="scss">
/* CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Material+Icons');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.md-app {
  width: 100vw;
  height: 100vh;

  .md-drawer {
    width: 15rem;
  }
  .md-toolbar.md-theme-default.md-transparent {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }
}

::-webkit-scrollbar {
  background: #ccc;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 25px;
}
</style>
